/* 
COLORES TRANS-LAB:
tipografía y dividers: #acacae;
botones:  #3b4674;
amarillo: #f6a800;
gris oscuro: #3e3f41;
gris claro:#3e3f41;
 */

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


/******Index
Se creo hoja de estilo propia porque el border bottom sacado del input inicial,
 afectaba a los estilos posteriores******/


/******Opciones******/
#fondo-gris{
	background-color: #dddee0;
	width: 100%;
}

.cajita-opc{
	background-color: #3e3f41;
	display: inline-block;
	width: 100%;
	position: relative;
}

#logo-opc{
	color: #fff;
	margin: 0;
	position: absolute;
  	top: 50%; 
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#icon-opc{
	color: #f6a800;
}

.botones-opc{
	padding-top: 40%;
}

#btn-yellow{
	background-color: #f6a800;
	width: 100%;
}
#btn-yellow-chico{
	background-color: #f6a800;
}
/******Usuario******/
.caja-user{
	background-color: #f6a800;
	margin: 0;
}

.img-user{
	padding-top: 10%;
	padding-bottom: 10%;
	width: 30%;
}
.brand-logo{
	display: inline-block;
}

/*Borrar border botton con efecto tipo hover al escribir en el input*/
input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid #9e9e9e;
    box-shadow: none;
}

.title-dos{
	padding-top: 10%;
	padding-bottom: 10%;
	font-size: 36px;
}

.caja-preg{
	padding-top:5%;
}

